.containerPopularMovies {
    display: grid;  
    row-gap: 2rem;
    column-gap: 1rem;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.listMovies {
    text-align: center;
    list-style-type: none;
};

.movie {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie img {
    width: 180px;
    transition: 1s;
    border-radius: 15px;
}

.movie img:hover {
    transform: scale(1.5);
}

.movie p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}